<html>
<head>

</head>
<body>
	
	<h1>Delete Book</h1>
	
	<p>Are you sure you want to delete {{books[book_id]}}<p>
	<form action="{{ url_for('handle_delete')}}" method="post">
		<input type="submit" value= "Delete">
		<a href="{{url_for('showBook')}}">Cancel</a>
		<input type="hidden" name= "book_id" value = "{{book_id}}">
	</form>

</body>
</html>