<html>
<head>

</head>
<body>
	
	<h1>Edit Book</h1>
	
	<p>
		Name:
	</p>
	
	<form action="{{ url_for('handle_edit')}}" method="post">
		<input type="text" name="newName" placeholder = "{{books[book_id]}}">
		<input type="submit" value= "Edit">
		<a href="{{url_for('showBook')}}">Cancel</a>
		<input type="hidden" name= "book_id" value = "{{book_id}}">

	</form>

</body>
</html>