<html>
<head>

</head>
<body>
	
	<h1>New Book</h1>
	
	<p>
		Name:
	</p>
	
	<form action="{{ url_for('handle_new')}}" method="post">
		<input type="text" name="newBook">
		<input type="submit" value= "Create">
		<a href="{{url_for('showBook')}}">Cancel</a>

	</form>

</body>
</html>