<html>
<head>

</head>
<body>
	
	<h1>Books</h1>
	<p>
	{% for book in books %}
		
		{{books.get(book)}} </br>
		<a href="{{url_for('editBook', book_id = book )}}">Edit books</a> </br>
		<a href="{{url_for('deleteBook', book_id = book)}}">Delete books</a> </br>
		<br/></br>
	{% endfor %}
	</p>
</body>
</html>